html, body {
    margin: 0;
    padding: 0;
}
/*  - CSS to resize the image within the window.
     -https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way)*/
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 2px #474747;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

h1.time {
    text-align: center;
}