* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
/*  - CSS to resize the image within the window.
     -https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way)*/
body {
    background: no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: "Roboto", sans-serif;
    text-shadow: 1px 1px 2px #474747;
}

main {
    height: 100vh;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
    font-size: 5rem;
}

div#crypto {
    font-size: 1.3rem;
}

div#crypto > p {
    margin: 0.5rem;
}

div#crypto-top {
    display: flex;
    align-items: center;
    margin-bottom: 0.375rem;
}

div#crypto-top > span {
    margin-left: 0.625rem;
}

div#weather {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
}

div#weather > img {
    width: 80px;
}

p.city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -0.625rem;
    font-size: 1.3rem;
}

p.temperature {
    margin: 0;
    font-size: 1.6rem;
    margin-left: -0.625rem;
}

p#author {
    font-size: 1rem;
}